@import '../../../content/scss/variables';

.chat {
  width: 100%;
  display: flex;
  padding: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-grow: 1;
  flex-direction: column;
  background-color: $primary-text-color;
}

.message-left {
  align-self: flex-start;
}

.message-right {
  align-self: flex-end;
}

.chat-element {
  margin-top: 20px;
}
