<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="gastronomy">
            <h2>{{ gastronomy.name }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="savethepubApp.gastronomy.category">Category</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'savethepubApp.GastronomyCategory.' + gastronomy.category }}">{{ gastronomy.category }}</span>
                </dd>
                <dt><span jhiTranslate="savethepubApp.gastronomy.description">Description</span></dt>
                <dd>
                    <span>{{ gastronomy.description }}</span>
                </dd>
                <dt><span jhiTranslate="savethepubApp.gastronomy.photo">Photo</span></dt>
                <dd>
                    <div *ngIf="gastronomy.photo">
                        <a (click)="openFile(gastronomy?.photoContentType!, gastronomy?.photo)">
                            <img [src]="'data:' + gastronomy.photoContentType + ';base64,' + gastronomy.photo" style="max-width: 100%;" alt="gastronomy image"/>
                        </a>
                        {{ gastronomy.photoContentType }}, {{ byteSize(gastronomy.photo) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="savethepubApp.gastronomy.contactName">Contact Name</span></dt>
                <dd>
                    <span>{{ gastronomy.contactName }}</span>
                </dd>
                <dt><span jhiTranslate="savethepubApp.gastronomy.addressLine" [ngbTooltip]="'savethepubApp.gastronomy.help.addressLine' | translate">Address Line</span></dt>
                <dd>
                    <span>{{ gastronomy.addressLine }}</span>
                </dd>
                <dt><span jhiTranslate="savethepubApp.gastronomy.zipCode">Zip Code</span></dt>
                <dd>
                    <span>{{ gastronomy.zipCode }}</span>
                </dd>
                <dt><span jhiTranslate="savethepubApp.gastronomy.city">City</span></dt>
                <dd>
                    <span>{{ gastronomy.city }}</span>
                </dd>
                <dt><span jhiTranslate="savethepubApp.gastronomy.facebookLink">Facebook Link</span></dt>
                <dd>
                    <span *ngIf="gastronomy.facebookLink"><a target="_blank" [href]="gastronomy.facebookLink">Facebook</a></span>
                </dd>
                <dt><span jhiTranslate="savethepubApp.gastronomy.twitterLink">Twitter Link</span></dt>
                <dd>
                    <span *ngIf="gastronomy.twitterLink"><a target="_blank" [href]="'https://twitter.com/' +gastronomy.twitterLink">Twitter</a></span>
                </dd>
                <dt><span jhiTranslate="savethepubApp.gastronomy.instagramLink">Instagram Link</span></dt>
                <dd>
                    <span *ngIf="gastronomy.instagramLink"><a target="_blank" [href]="'https://www.instagram.com/' +gastronomy.instagramLink">Instagram</a></span>
                </dd>
                <dt><span jhiTranslate="savethepubApp.gastronomy.gofundmeName">Gofundme Name</span></dt>
                <dd>
                    <span *ngIf="gastronomy.gofundmeName"><a target="_blank" [href]="'https://www.gofundme.com/f/' +gastronomy.gofundmeName">GoFundMe</a></span>
                </dd>
                <dt><span jhiTranslate="savethepubApp.gastronomy.supportLink" [ngbTooltip]="'savethepubApp.gastronomy.help.supportLink' | translate">Support Link</span></dt>
                <dd>
                    <span *ngIf="gastronomy.supportLink"><a target="_blank" [href]="gastronomy.supportLink">{{ gastronomy.supportLink }}</a></span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    *jhiHasAnyAuthority="'ROLE_ADMIN'"
                    [routerLink]="['/gastronomy', gastronomy.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
