<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-gastronomy-heading" jhiTranslate="savethepubApp.gastronomy.home.createOrEditLabel">Create or edit a Gastronomy</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="savethepubApp.gastronomy.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="savethepubApp.gastronomy.category" for="field_category">Category</label>
                    <select class="form-control" name="category" formControlName="category" id="field_category">
                        <option value="BAR">{{ 'savethepubApp.GastronomyCategory.BAR' | translate }}</option>
                        <option value="CAFE">{{ 'savethepubApp.GastronomyCategory.CAFE' | translate }}</option>
                        <option value="RESTAURANT">{{ 'savethepubApp.GastronomyCategory.RESTAURANT' | translate }}</option>
                        <option value="CLUB">{{ 'savethepubApp.GastronomyCategory.CLUB' | translate }}</option>
                    </select>
                    <div *ngIf="editForm.get('category')!.invalid && (editForm.get('category')!.dirty || editForm.get('category')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('category')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="savethepubApp.gastronomy.description" for="field_description">Description</label>
                    <textarea class="form-control" name="description" id="field_description"
                              formControlName="description"></textarea>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="savethepubApp.gastronomy.photo" for="field_photo">Photo</label>
                    <div>
                        <img [src]="'data:' + editForm.get('photoContentType')!.value + ';base64,' + editForm.get('photo')!.value" style="max-height: 100px;" *ngIf="editForm.get('photo')!.value" alt="gastronomy image"/>
                        <div *ngIf="editForm.get('photo')!.value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{ editForm.get('photoContentType')!.value }}, {{ byteSize(editForm.get('photo')!.value) }}</span>
                            <button type="button" (click)="clearInputImage('photo', 'photoContentType', 'file_photo')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon icon="times"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_photo" (change)="setFileData($event, 'photo', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="photo" id="field_photo"
                           formControlName="photo"/>
                    <input type="hidden" class="form-control" name="photoContentType" id="field_photoContentType"
                           formControlName="photoContentType" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="savethepubApp.gastronomy.contactName" for="field_contactName">Contact Name</label>
                    <input type="text" class="form-control" name="contactName" id="field_contactName"
                           formControlName="contactName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="savethepubApp.gastronomy.addressLine" for="field_addressLine" [ngbTooltip]="'savethepubApp.gastronomy.help.addressLine' | translate">Address Line</label>
                    <input type="text" class="form-control" name="addressLine" id="field_addressLine"
                           formControlName="addressLine"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="savethepubApp.gastronomy.zipCode" for="field_zipCode">Zip Code</label>
                    <input type="text" class="form-control" name="zipCode" id="field_zipCode"
                           formControlName="zipCode"/>
                    <div *ngIf="editForm.get('zipCode')!.invalid && (editForm.get('zipCode')!.dirty || editForm.get('zipCode')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('zipCode')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 5 }">
                        This field cannot be longer than 5 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="savethepubApp.gastronomy.city" for="field_city">City</label>
                    <input type="text" class="form-control" name="city" id="field_city"
                           formControlName="city"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="savethepubApp.gastronomy.facebookLink" for="field_facebookLink">Facebook Link</label>
                    <input type="text" class="form-control" name="facebookLink" id="field_facebookLink"
                           formControlName="facebookLink"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="savethepubApp.gastronomy.twitterLink" for="field_twitterLink">Twitter Link</label>
                    <input type="text" class="form-control" name="twitterLink" id="field_twitterLink"
                           formControlName="twitterLink"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="savethepubApp.gastronomy.instagramLink" for="field_instagramLink">Instagram Link</label>
                    <input type="text" class="form-control" name="instagramLink" id="field_instagramLink"
                           formControlName="instagramLink"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="savethepubApp.gastronomy.gofundmeName" for="field_gofundmeName">Gofundme Name</label>
                    <input type="text" class="form-control" name="gofundmeName" id="field_gofundmeName"
                           formControlName="gofundmeName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="savethepubApp.gastronomy.supportLink" for="field_supportLink" [ngbTooltip]="'savethepubApp.gastronomy.help.supportLink' | translate">Support Link</label>
                    <input type="text" class="form-control" name="supportLink" id="field_supportLink"
                           formControlName="supportLink"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
