h1 {
  overflow-wrap: break-word;
}

.bar-flow-element {
  margin-top: 20px;
}

.bar-image {
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}

.chat-teaser {
  display: flex;
  justify-content: right;
  margin-top: 40px;
}

button {
  border-radius: 10px;
  border-bottom-left-radius: 0;
  width: 250px;
  padding: 8px;
  text-align: left;
}

.btn-caret {
  display: flex;

  div {
    &:first-child {
      flex-grow: 1;
    }
  }

  .caret {
    font-size: 1.5em;
    line-height: 1;
  }
}
